In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('cars.csv')
df

,car,color,engine,fuel_type,gearbox,horsepower,mileage,model,price,year
0,Skoda,Білий,2,Дизель,Автомат,116,157000,Octavia,23500,2022
1,BMW,Білий,2,Бензин,Автомат,476,168000,3 Series,14999,2014
2,Ford,Сірий,2,Гібрид,Автомат,180,65000,C-Max,11999,2014
3,Nissan,Сірий,Не вказано,Електро,Автомат,109,93000,Leaf,4599,2012
4,Tesla,Білий,Не вказано,Електро,Автомат,513,18000,Model 3,29999,2021
...,...,...,...,...,...,...,...,...,...,...
3929,Volkswagen,Білий,Не вказано,Електро,Автомат,136,12000,e-Golf,18000,2018
3930,Toyota,Чорний,2,Бензин,Автомат,Не вказано,150000,RAV4,6900,2002
3931,Daewoo,Не вказано,1.6,Бензин,Механіка,Не вказано,68000,Nexia,2999,2011
3932,Новий,Не вказано,Не вказано,Не вказано,Автомат,Не вказано,Не вказано,Mercedes-Benz GLE-Class,Не вказано,Coupe
3933,Новий,Не вказано,Не вказано,Не вказано,Автомат,Не вказано,Не вказано,Mitsubishi,Не вказано,ASX

In [8]:
df.fillna(0, inplace=True)
df

,car,color,engine,fuel_type,gearbox,horsepower,mileage,model,price,year
0,Skoda,Білий,2,Дизель,Автомат,116,157000,Octavia,23500,2022
1,BMW,Білий,2,Бензин,Автомат,476,168000,3 Series,14999,2014
2,Ford,Сірий,2,Гібрид,Автомат,180,65000,C-Max,11999,2014
3,Nissan,Сірий,Не вказано,Електро,Автомат,109,93000,Leaf,4599,2012
4,Tesla,Білий,Не вказано,Електро,Автомат,513,18000,Model 3,29999,2021
...,...,...,...,...,...,...,...,...,...,...
3929,Volkswagen,Білий,Не вказано,Електро,Автомат,136,12000,e-Golf,18000,2018
3930,Toyota,Чорний,2,Бензин,Автомат,Не вказано,150000,RAV4,6900,2002
3931,Daewoo,Не вказано,1.6,Бензин,Механіка,Не вказано,68000,Nexia,2999,2011
3932,Новий,Не вказано,Не вказано,Не вказано,Автомат,Не вказано,Не вказано,Mercedes-Benz GLE-Class,Не вказано,Coupe
3933,Новий,Не вказано,Не вказано,Не вказано,Автомат,Не вказано,Не вказано,Mitsubishi,Не вказано,ASX

In [9]:
df.to_csv('filtered_cars.csv', index=False)